main {
    height: 100vh;
    text-align: center;
    padding-top: $headerHeight;

    .page__section {
        padding-bottom: $pageSectionBottomMargins;

        .page__section__box {
            margin-bottom: $pageSectionBoxBottomMargins;
        }
    }
}
