
build/
node_modules
public/hot
public/storage
public/webfonts/
public/js/
public/css/
public/fonts/
storage/*.key
vendor
.idea
.vscode
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
yarn.lock
package-lock.json
composer.lock
.DS_Store
