
node_modules
.idea/

storage/*.key
.vscode
.vagrant
npm-debug.log
yarn-error.log
.phpunit.result.cache
yarn.lock
composer.lock
Homestead.json
Homestead.yaml
.DS_Store
*.lock
.env
.env.*
package-lock.json
